@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.96 0 0);
  --card: oklch(0.28 0 0);
  --card-foreground: oklch(0.96 0 0);
  --popover: oklch(0.42 0 0);
  --popover-foreground: oklch(0.96 0 0);
  --primary: oklch(0.69 0.09 137.04);
  --primary-foreground: oklch(0.96 0 0);
  --wheel-primary: oklch(0.75 0.17 55.71);
  --secondary: oklch(0.67 0.06 73.79);
  --secondary-foreground: oklch(0.92 0.004 286.32);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.7 0 0);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.96 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
}

@theme inline {
  --font-wide-semibold: 'MursGothicMassiveDemi', sans-serif;
  --font-wide-black: 'MursGothicMassiveBlack', sans-serif;
  --font-wide-medium: 'MursGothicMassiveMedium', sans-serif;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 2px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-wheel-primary: var(--wheel-primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --animate-shake: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;

  @keyframes shake {

    0%,
    30% {
      transform: rotate(0deg);
    }

    10% {
      transform: rotate(-8deg);
    }

    20% {
      transform: rotate(7deg);
    }

    30% {
      transform: rotate(-6deg);
    }

    40% {
      transform: rotate(6deg);
    }

    50% {
      transform: rotate(-5deg);
    }

    60% {
      transform: rotate(5deg);
    }

    70% {
      transform: rotate(-3deg);
    }

    80% {
      transform: rotate(2deg);
    }

    80%,
    100% {
      transform: rotate(0deg);
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    font-family: 'Golos Text', sans-serif;

    @apply bg-background text-foreground;
  }
}

.font-roboto-wide {
  font-family: 'Roboto Flex', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    'slnt' 0,
    'wdth' 130,
    'GRAD' 0,
    'XOPQ' 140,
    'XTRA' 520,
    'YOPQ' 79,
    'YTAS' 750,
    'YTDE' -203,
    'YTFI' 738,
    'YTLC' 514,
    'YTUC' 712;
}

.font-roboto-wide-semibold {
  font-family: 'Roboto Flex', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    'slnt' 0,
    'wdth' 151,
    'GRAD' 0,
    'XOPQ' 140,
    'XTRA' 520,
    'YOPQ' 79,
    'YTAS' 750,
    'YTDE' -203,
    'YTFI' 738,
    'YTLC' 514,
    'YTUC' 712;
}

.font-roboto-wide-semibold-italic {
  font-family: 'Roboto Flex', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
  font-variation-settings:
    'slnt' -10,
    'wdth' 151,
    'GRAD' 0,
    'XOPQ' 140,
    'XTRA' 520,
    'YOPQ' 79,
    'YTAS' 750,
    'YTDE' -203,
    'YTFI' 738,
    'YTLC' 514,
    'YTUC' 712;
}

.font-roboto-wide-black {
  font-family: 'Roboto Flex', sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-variation-settings:
    'slnt' 0,
    'wdth' 151,
    'GRAD' 0,
    'XOPQ' 160,
    'XTRA' 520,
    'YOPQ' 79,
    'YTAS' 750,
    'YTDE' -203,
    'YTFI' 738,
    'YTLC' 514,
    'YTUC' 712;
}

.font-roboto-wide-black-alt {
  font-family: 'Roboto Flex', sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-variation-settings:
    'slnt' 0,
    'wdth' 151,
    'GRAD' 0,
    'XOPQ' 96,
    'XTRA' 520,
    'YOPQ' 79,
    'YTAS' 750,
    'YTDE' -203,
    'YTFI' 738,
    'YTLC' 514,
    'YTUC' 712;
}

/* styles for rich editor */
.rich-editor .ql-toolbar svg .ql-stroke,
.rich-editor .ql-toolbar svg .ql-line {
  stroke: white;
}

.rich-editor .ql-toolbar .ql-picker-options svg .ql-stroke,
.rich-editor .ql-toolbar .ql-picker-options svg .ql-line {
  stroke: #444;
}

.rich-editor .ql-toolbar svg .ql-fill {
  fill: white;
}

.rich-editor .ql-picker-label {
  color: white;
}

.rich-editor .ql-tooltip {
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.rich-display .ql-container.ql-disabled {
  border: unset;
}

.rich-diff .ql-container.ql-disabled {
  border: unset;
}

.rich-diff .ql-container {
  font-size: 16px;
  font-family: 'Golos Text', sans-serif;
}

.rich-editor .ql-container .ql-editor {
  overflow-y: auto;
  height: 50vh;
}

.text-box-trim-end {
  text-box-trim: trim-end;
}

.rich-display h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Flex', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    'slnt' 0,
    'wdth' 151,
    'GRAD' 0,
    'XOPQ' 140,
    'XTRA' 520,
    'YOPQ' 79,
    'YTAS' 750,
    'YTDE' -203,
    'YTFI' 738,
    'YTLC' 514,
    'YTUC' 712;
}

div.stats-table table {
  width: 100%;
}

iframe {
  overflow: hidden !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

iframe::-webkit-scrollbar {
  display: none !important;
}

.stream-player iframe,
[class*="stream"] iframe {
  overflow: hidden !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}


.stream-player iframe::-webkit-scrollbar,
.stream-player iframe::-webkit-scrollbar-track,
.stream-player iframe::-webkit-scrollbar-thumb {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.stream-player.expanded {
  transition: all 0.3s ease-in-out;
  top: 0 !important;
  left: 0 !important;
}

.stream-player.expanded iframe {
  width: 100% !important;
  height: 100% !important;
}

.stream-player.expanded.full-height {
  height: 100vh !important;
  top: 0 !important;
  left: 0 !important;
}

.stream-player.expanded.full-height iframe {
  height: 100vh !important;
}

.stream-player.expanded.full-height {
  height: calc(100vh) !important;
  top: 0 !important;
}

.stream-player.expanded.full-height iframe {
  height: calc(100vh) !important;
}

.stream-player {
  transition: all 0.3s ease-in-out;
}

.stream-player.expanded iframe {
  object-fit: cover;
  min-height: 100%;
}

.stream-player.expanded {
  aspect-ratio: auto;
}

.stream-player.expanded.full-height {
  aspect-ratio: auto;
}

.kick-player iframe,
.vk-video-player iframe,
.twitch-player iframe {
  overflow: hidden !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
